@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-robotoFont overflow-hidden cursor-none;
  cursor: url("../assets/lantern.png"), auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-oswaldFont;
}

.blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor-lanterna {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.575) 00%,
    rgba(255, 255, 255, 0.575) 10%,
    rgba(255, 255, 255, 0) 80%
  );
  pointer-events: none;
  mix-blend-mode: screen; /* Mistura para criar um efeito de iluminação */
  z-index: 9999;
  transform: translate(-50%, -20%);
  transition: background 0.2s ease;
}

@media(max-width: 768px) {
  .cursor-lanterna {
    display: none;
  }
}

.cursor-lanterna:hover {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0.2) 70%
  );
}
