/* episodes page */

:root {
  /* -gray */
  --gray200: #8f8f8f;
  --gray400: "#202020";
  --gray500: "#0e0e0e";
  --gray600: "#131313";

  /* -red */
  --red500: "#cd5c5c";

  /* -green */
  --green500: "#626554";

  /* -brown */
  --brown500: "#5e5b5c";
}

body {
  font-family: "Inter", sans-serif;
  background: url("../imagens/bg-video.png") fixed no-repeat;
  background-size: cover; 
  color: #fff;
}

.header-ep {
  width: 100%;
  height: 20px;
  background: var(--gray600);
  padding: 1.5rem 1.5rem;
}

.header-ep-content {
  padding: 10px;
}

.header-blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.carretLeft-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.5rem;
  background: #8f8f8f31;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.carretLeft-icon:hover {
  filter: brightness(280%);
}

.video-title {
  font-size: 0.6rem;
}

.video-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 10px;
  color: var(--gray200);
  font-size: 0.8rem;
  font-weight: 500;
}

.clock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

/* episodes */

.episodes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
  height: fit-content;
  color: #fff;
}

.episodes a {
  all: unset;

}

.block-ep {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.8rem;
  height: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid var(--brown500);
  transition: all 0.3s ease-in-out;
}

.block-ep1 {
  background: url("../imagens/episodes/ep1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep1:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep2 {
  background: url("../imagens/episodes/ep2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep2:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep3 {
  background: url("../imagens/episodes/ep3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep3:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep4 {
  background: url("../imagens/episodes/ep4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep4:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep5 {
  background: url("../imagens/episodes/ep5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep5:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep6 {
  background: url("../imagens/episodes/ep6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep6:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep7 {
  background: url("../imagens/episodes/ep7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep7:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep8 {
  background: url("../imagens/episodes/ep8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep8:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.block-ep9 {
  background: url("../imagens/episodes/ep9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.block-ep9:hover {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  filter: brightness(100%);
}

.video-ep {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}

.video-section {
  width: 100%;
  height: 100%;
}


.video iframe {
  width: 100%;
  height: 500px;
  max-height: 100%;
}

.description-section div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description-section h3 {
  font-weight: 700;
  font-size: 2rem;
}

.description-section p {
  color: #e4e4e4;
  width: 90%;
}