@media (max-width: 1280px) {
  body {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .informations .description {
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  body {
    padding: 40px;
  }
  .informations .logo {
    max-width: 300px;
  }

  .informations .description {
    width: 100%;
  }

  .sidebar {
    position: static;
    min-height: auto;
    width: 100%;
    margin-top: 50px;
  }

  .sidebar ul {
    flex-direction: row;
  }

  .content {
    min-height: 70vh;
    gap: 50px;
  }

  /* episodes page */
}

@media (max-width: 625px) {
  .header-ep-content {
    padding: 1px;
  }
  .video-title {
    font-size: 0.5rem;
  }
  .episodes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .block-ep {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid var(--brown500);
  transition: all 0.3s ease-in-out;
}
.video-ep {
  display: flex;
  flex-direction: column;
}
}
